 php artisan storage:link

php artisan migrate:fresh --seed
composer require maatwebsite/excel
composer require barryvdh/laravel-dompdf
composer require spatie/laravel-permission




uncomment
C:\xampp\php\php.ini
extension=gd
